<!DOCTYPE html>
<html>
<head>
  <title>Community Swap</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <h1><a href="/">Boston Community Swap</a></h1>
  <nav>
    <% if (user) { %>
    <span>Welcome, <%= user.username || user.email %>!</span>      
    <a href="/item/new">Post Item</a>
    <a href="/resources">Resources</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <% } %>
  </nav>
</header>

<main>
  <%- body %>
</main>

<script src="/js/main.js"></script>
</body>
</html>
